doctype html
html(lang="zh-CN")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        block title
            title 首页
        block keywords
            meta(name="keywords" content="")
        block description
            meta(name="description" content="")
        link(href="/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet")
        link(href="/bootstrap/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet")
        link(href="/normalize.css" type="text/css" rel="stylesheet")
        block header_other
    body(style="background-color: #fff;")
        block body